{% extends 'base.html' %}

{% block content %}
    {%  block title %} About {% endblock %}
        <div class="text-center">
            <div>
                <h1>
                    <span>Трошки про мене ;)</span>
                </h1>
                <hr>
                <p>
                    Я поки студент 3 курсу Механіко-математичного факультету КНУ ім. Тараса Шевченка.
                    </p>
                    <p>
                    Сподіваюсь навчання закінчу)
                    </p>
                    <p>
                        Я Back-end розробник та майбутній викладач математики.
                </p>
                <p>
                    Посилання на мій instagram та github нижче
                </p>
                <hr>
                <p>
                    Я стараюсь зробити свою роботу інтерактивнішою та цікавішою для чого і створив цей ресурс,
                    на якому буду викладати тексти робіт з цифрових освітніх ресурсів)
                </p>
            </div>
        </div>
{% endblock %}